.new {
    margin: 0.1rem 0;
    border-bottom: 1px solid #d2d0d0;
    .new-publish {
        .publisher {
            font-size: 14px;
            padding: 0 0.5rem 0 0;
            font-weight: 700;
        }
        .time {
            color: #adacac;
        }
    }
    .content {
        font-size: 15px;
        padding: 0.05rem 0;
    }
    .relative {
        padding: 0 0 0.05rem 0;
        .item {
            padding: 0 0.3rem 0 0;
            color: #adacac;
        }
    }
}